seccion0 {
  background-image: url('https://www.multilab.com.pe/img/banner-home.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}


.container {
  width: 65%;
  border: solid red;
  margin: 0 auto;
}


section {
  border: none;
}

h1 {
 text-align: center;
}

pre {
  border: dashed 1px;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  color: #808080;
  font-size: 1.5em;
  background: #ececec;
  letter-spacing: 6px;
}

.section-hide {
  display: none;
}

#fullname, #pegarCodigo {
  text-transform: uppercase;
}

#seccion1, #seccion2, #seccion3, #seccion4 {
  background: white;
}

/* #seccion1 {
  background: orange;
}

#seccion2 {
  background: pink;
}

#seccion3 {
  background: brown;
}

#seccion4 {
  background: yellow;
} */

/*prueba*/
