#seccion0 {

  height: 100vh;
}

/*Seccion 1*/

.home-banner {
  height: 400px;
  position: relative;
  border: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  letter-spacing: 0px;
  line-height: 16px;
}

.title-banner {
  border: none;
  margin-left: 50px;
}

body {
  margin: 0 !important;
  background-image: url('https://www.multilab.com.pe/img/banner-home.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  width: 65%;
  /* border: solid red; */
  margin: 0 auto;
  height: 100vh;
}


section {
  border: none;
}

h1 {
 text-align: center;
 font-family: 'Roboto Slab', serif;
 font-size: 45px;
}

h3 {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  margin-top: 10px;
  margin-bottom: 25px;
}

pre {
  border: dashed 1px;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  color: #808080;
  font-size: 1.5em;
  background: #ececec;
  letter-spacing: 6px;
}

p {
    font-family: 'Roboto Slab', serif;
}

.section-hide {
  display: none;
}

.col {
  text-align: center;
}


.row {
  text-align: center;
}


#fullname, #pegarCodigo {
  text-transform: uppercase;
}

#seccion1, #seccion2, #seccion3, #seccion4 {
   background-color: transparent;
   height: 150vh;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #22a6b3;
}

.h1-banner {
  font-family: 'Roboto Slab', serif;
  font-size: 57px;
}

.h2-banner {
  font-family: 'Roboto Slab', serif;
  font-size: x-large;
}

.pad {
  padding: 40px;
  margin: none;
}

.inputName {
  border-radius: 5px;
  width: 38%;
  padding: 7px;
}

.inputOffset {
  border-radius: 5px;
  padding: 7px;
}

.inputPaste {
  border-radius: 5px;
  width: 38%;
  padding: 7px;
}

.btnCipher {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  padding: .375rem .75rem;
  border-radius: .25rem;
  background-color: #22a6b3;
  color: #fff;
  transition: background-color .15s ease-in-out;
  letter-spacing: 1px;
  margin-top: 10px;
}

.btnCipher:hover {
    opacity: 0.7;
}

.btnCopy {
  font-family: 'Roboto Slab', serif;
  font-size: 15px;
  padding: .375rem .75rem;
  border-radius: .25rem;
  background-color: #6ab04c;
  color: #fff;
  transition: background-color .15s ease-in-out;
  letter-spacing: 2px;
  margin: 30px;
}

.btnCopy:hover {
  opacity: 0.7;
}

.btnNext {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  padding: .375rem .75rem;
  border-radius: .25rem;
  background-color: #22a6b3;
  color: #fff;
  transition: background-color .15s ease-in-out;
  letter-spacing: 2px;
  width: 23%;
}

.btnNext:hover {
  opacity: 0.7;
}

.btnPaste {
  font-family: 'Roboto Slab', serif;
  font-size: 15px;
  padding: .375rem .75rem;
  border-radius: .25rem;
  background-color: #6ab04c;
  color: #fff;
  transition: background-color .15s ease-in-out;
  letter-spacing: 2px;
  margin: 30px;
}

.btnPaste:hover {
  opacity: 0.7;
}

.validation {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  padding: .375rem .75rem;
  border-radius: .25rem;
  background-color: #22a6b3;
  color: #fff;
  transition: background-color .15s ease-in-out;
  letter-spacing: 2px;
}

.validation:hover {
  opacity: 0.7;
}

.btnOk {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  padding: .375rem .75rem;
  border-radius: .25rem;
  background-color: #22a6b3;
  color: #fff;
  transition: background-color .15s ease-in-out;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-right: 30px;
}

.btnOk:hover {
  opacity: 0.7;
}

.btnBack {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  padding: .375rem .75rem;
  border-radius: .25rem;
  background-color: #22a6b3;
  color: #fff;
  transition: background-color .15s ease-in-out;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-right: 30px;
}

.btnBack:hover {
  opacity: 0.7;
}

.marginHome {
  margin-right: 60px;
}

.preMargin, .btnCopy, .btnNext {
  margin: 10px;
}
